<div class="box mt-3">

 <h1>sadf</h1>
 <div class="row align-items-center">
  <div class="col-md-3 col-sm-6">
   <app-select [title]="'Categories'" ></app-select>
  </div>
  <div class="col-md-9 col-sm-6 d-flex justify-content-end">
   <small>see more</small>
  </div>
 </div>
 <div class="row" *ngIf="loading">
  <div class="col-md-3 col-sm-12" *ngFor="let item of products">
   <app-product [data]="item" (item)="addToCart($event)"></app-product>
  </div>
 </div>
 <div *ngIf="loading" class="text-center w-100">
  <app-spinner></app-spinner>
 </div>
</div>

<!-- <div class="row">
 <div class="custom-card-wrapper">
  <div class="container">
   <div class="top"></div>
   <div class="bottom">
    <div class="left">
     <div class="details">
      <h1>Chair</h1>
      <p>£250</p>
     </div>
     <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
    </div>
    <div class="right">
     <div class="done"><i class="material-icons">done</i></div>
     <div class="details">
      <h1>Chair</h1>
      <p>Added to your cart</p>
     </div>
     <div class="remove"><i class="material-icons">clear</i></div>
    </div>
   </div>
  </div>
  <div class="inside">
   <div class="icon"><i class="bi bi-heart"></i></div>
   <div class="contents">
    <table>
     <tr>
      <th>Width<i class="bi bi-heart"></i></th>
      <th>Height</th>
     </tr>
     <tr>
      <td>3000mm</td>
      <td>4000mm</td>
     </tr>
     <tr>
      <th>Something</th>
      <th>Something</th>
     </tr>
     <tr>
      <td>200mm</td>
      <td>200mm</td>
     </tr>
     <tr>
      <th>Something</th>
      <th>Something</th>
     </tr>
     <tr>
      <td>200mm</td>
      <td>200mm</td>
     </tr>
     <tr>
      <th>Something</th>
      <th>Something</th>
     </tr>
     <tr>
      <td>200mm</td>
      <td>200mm</td>
     </tr>
    </table>
   </div>
  </div>
 </div>
</div> -->