footer {
 padding: 50px 90px;
 color: #fff;
 height: 5rem;
 background-color: #1e8beb;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 width: 100%;
 align-items: center;
 justify-content: center;
 .con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
}