// Product Card StyleSheet

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

a {
    text-decoration: none;
}

.product-card {
    width: 310px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px auto;
    background: #fafafa;
    border-radius: 10px;
    &:hover {
        // transform: scale(0.9);
    }
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    background: #1e8beb;
    color: #fff;
    padding: 4px 12px;
    border-radius: 0px 10px 10px 0px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #fff;
    border-radius: 10px 10px 0 0 ;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #9f9f9f;
    margin-bottom: 5px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Number of lines to display */
}

.product-details h4 a:hover {
    color: #1e8beb;
}

.product-details p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
    color: #999;
    // max-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* Number of lines to display */
    overflow: hidden;
    line-break: auto;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-bottom-details div {
    // float: left;
    // width: 50%;
}

.add-card {
    display: flex;
    align-items: center;
    .btn {
        padding: 9px 20px;
        color: #fff;
        font-size: 10px;
        background-color: #1e8beb;
        border: 1px solid #1e8beb;
        &:hover {
            color: #1e8beb;
            border-color: #1e8beb;
            background-color: transparent !important;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        }
    }
    .count {
        max-width: 60px;
        margin-right: 5px;
    }
}

.product-price {
    font-size: 18px;
    color: #1e8beb;
    font-weight: 600;
}

.product-price small {
    color: rgb(130, 6, 6);
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}