<div class="item">
 <!-- <img src="data.img" alt="" class="item-img" routerLink="/details/{{item.id}}"> -->
 <div class="item-body">
  <!-- <span class="item-title">{{ data.title }}</span> -->
  <!-- <span class="item-subtitle">{{ data.description }}</span> -->
  <div class="item-footer">
   <button class="btn btn-success" *ngIf="!addButton" (click)="addButton = true">Add to Cart</button>
   <div class="d-flex w-50" *ngIf="addButton">
    <input type="number" class="form-control" [(ngModel)]="amount">
    <button class="btn btn-danger" (click)="add(); addButton = false">Add</button>
   </div>
   <!-- <span>{{ data.price }} AED</span> -->
  </div>
 </div>
</div>